<%= link_to "Home", "/overview", class:"button col-12" %>
<%= link_to "Add to Favorites", add_to_favorites_path(:person_id => @person.id), :method => :post, class:"button col-12" %>

<p id="notice"><%= notice %></p>
<p class="col-12">
  <strong>Id:</strong>
  <%= @person.title %>
</p>

<p class="col-12">
  <strong>Title:</strong>
  <%= @person.title %>
</p>

<p class="col-12">
  <strong>Firstname:</strong>
  <%= @person.firstname %>
</p>
 
<p class="col-12"> 
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p class="col-12">
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<%= image_tag(@person.image, class:"img") %>

