<h1>Project Search</h1>
<%= link_to "Back To Home", "/overview", class: "button" %>


<%= form_tag @project_path, :method => 'get'  do %>
  <%= text_field_tag :name, params[:name], class: 'form-control col-5', :required => true %>
  <%= submit_tag("Search", class: "button col-5") %>
 <% end %>


<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
   
      <% @project.each_with_index do |person, i| %>
        <tr>
        <td class="col-8">
		  	    <%= i+1 %>.
            <%= person["title"] %>
        </td>
        <td class="col-4">
			    <%= link_to "Details", (person["detail_url"]), class:"button" %>
        </td>
      </tr>  
      <% end %>
    
		
  </tbody>
</table>

